
name: Detekt

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Detekt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: set up JDK 22
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '22'
          distribution: 'temurin'
          cache: gradle

      - name: Run Detekt
        run: ./gradlew detekt
